@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.layout {
  display: flex;
  min-height: calc(100vh - 120px); /* header + footer åˆ† */
}

/* main contents */
.content {
  flex: 1;
  padding: 0px;
}

/* sidebar */
.sidebar {
  width: 280px;
  padding: 24px;
}

.sidebar h3 {
  margin-bottom: 16px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.certifications li, .hobbies li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 12px;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 12px;
}

/* mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}